.gallery {
  padding-top: 10px;

  .container {
    padding: 0;
  }
  &-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      max-width: 730px;
      height: 260px;
      left: -20px;
      top: -10px;
      background-color: $secondary-color;
      z-index: -1;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 480px;
    flex-shrink: 0;
  }

  &__image {
    display: block;
    width: 150%;
    transform: translateX(-25%);
  }

  &__image-wrap {
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin: 10px;
    &:hover {
      box-shadow: 0px 0px 3px 2px #bbbbbb;
    }
    a:hover > img {
      animation: hoverwidth 2s ease-out forwards;
    }
  }

  &__about {
    padding-right: 10px;
    padding-left: 3%;
    font-size: 12px;
  }

  &__title {
    margin-top: 35px;
    font-size: 3rem;
    text-align-last: left;
  }
  &__subtitle {
    margin: 5px 0 30px;
    font-size: 14px;
    @include light;
  }
  p {
    margin: 15px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
    li {
      max-width: 200px;
      flex-basis: 190px;
      display: flex;
      align-items: flex-start;
      margin-bottom: 8px;
    }
    img {
      display: inline-block;
      margin-right: 10px;
      width: 15px;
    }
  }
}

@keyframes hoverwidth {
  form {
    width: 150%;
  }
  to {
    width: 200%;
  }
}

@media screen and (max-width: 920px) {
  .gallery {
    &-wrap {
      flex-direction: column;
    }
    &__images {
      width: 100%;
      max-width: 640px;
      margin: 40px auto 0;
      order: 1;
    }
  }
}

@media screen and (max-width: 576px) {
  .gallery__list {
    li {
      max-width: 150px;
    }
  }
}
