.instructors {
  background-color: $secondary-color;

  &__title {
    margin-bottom: 10rem;
  }

  &__slider {
    margin: 20px 0;
  }

  &__slide {
    position: relative;
    img {
      display: block;
    }
  }

  &__descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 60px;
    background-color: rgba(#444444, 0.5);
    font-size: 14px;
    color: white;
  }

  &__proficiency {
    flex-basis: 30%;
    border-right: 1px solid white;
  }

  &__info {
    flex-basis: 60%;
  }

  &__name {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-right: 10px;
  }
}

.slide {
  position: relative;
  overflow: hidden;
  &__height {
    width: 100%;
    padding-top: 57.5%;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .instructors {
    &__descr {
      padding: 20px 30px;
    }
    &__proficiency {
      flex-basis: 40%;
    }

    &__info {
      flex-basis: 50%;
    }
  }
}

@media screen and (max-width: 576px) {
  .instructors {
    &__descr {
      flex-direction: column;
      align-items: flex-start;
      font-size: 12px;
      top: calc(100% - 95px);
      &:hover {
        animation: hov 0.5s forwards;
      }
    }
    &__proficiency {
      flex-basis: unset;
      border-right: none;
      border-bottom: 1px solid white;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    &__info {
      justify-self: center;
    }
  }
}

@keyframes hov {
  from {
    top: calc(100% - 95px);
  }
  to {
    top: -95px;
  }
}
